@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f9fafb;
  /* color: #80808021; */
}

/* Headings */
h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: 600; /* Use 600 for consistency */
}

h3 {
  font-size: 24px;
  font-weight: 600; /* Use 600 for consistency */
}

h4 {
  font-size: 20px;
  font-weight: 600; /* Use 600 for consistency */
}

h5 {
  font-size: 18px;
  font-weight: 600;
}

h6 {
  font-size: 16px;
  font-weight: 400;
}

/* Paragraphs */
p {
  font-size: 16px;
  line-height: 1.5; /* Use a unitless value for line-height */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
