@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:where(*, *::before, *::after) {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: bold;
}

h4 {
  font-size: 24;
  font-weight: 600;
}

h5 {
  font-size: 18;
  font-weight: 600;
}

h6 {
  font-size: 16;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 155%;
}
