
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

a {
    color: inherit;
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

 ul {
    list-style: none;
}

button {
    background: inherit;
    color: inherit;
    border: none;
    outline: none;
}

input, button, textarea, select {
    font: inherit;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
 }

img {
    height: auto;
    object-fit: cover;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
}

